* {
  margin:           0;
  padding:          0;
}

body {
  background:       rgb(220,220,220);
}

#main {
  width:            280px;
  /* margin:           50px; */
  margin:           50px auto;
  /* border:           1px solid black; */

  font:             24px "Noto Sans", sans-serif;
}

#ireru {
  width:            250px;
  padding:          .25em .5em;

  background:       rgb(255,255,255);
  border:           2px solid rgba(0,0,0,0.5);
  border-radius:    5px;

  font:             500 24px "Noto Sans", sans-serif;
  line-height:      35px;
  text-align:       center;
}

#isbn #isbn-out {
  margin-top:       25px;

  text-align:       center;
  text-decoration:  none;
}

#jidai {
  margin-top:       25px;
  text-align:       left;
}

#jidai #jidai-k {
  border-bottom:    none;
  border-radius:    5px 5px 0 0;
}

#jidai #jidai-r {
  border-top-width: 1px;
  border-bottom:    none;
  border-radius:    0;
}

#jidai #jidai-y {
  border-top-width: 1px;
  border-radius:    0 0 5px 5px;
}

.shimesu {
  display:          block;

  width:            250px;
  padding:          .25em .5em;

  background:       rgba(255,255,255,0.5);
  border:           2px solid rgba(0,0,0,0.5);
  border-radius:    5px;

  color:            black;

  line-height:      35px;
}

.shimesu:hover {
  background:       rgba(255,255,255,1);
  cursor:           pointer;
}
