* {
  margin:           0;
  padding:          0 12px;
  outline:          none;
  color:            black;
  font:             20px 'Noto Sans', sans-serif;
  line-height:      40px;
}

body {
  background:       rgb(220,220,220);
}

a {
  display:          block;
  text-decoration:  none;
}

:focus {
  box-shadow:       inset 0 5px 10px rgba(0,0,0,0.1);
}

::selection {
  background:       rgba(0,0,0,0.1);
}

#main {
  display:                grid;
  grid-template-columns:  auto 300px auto;
  grid-template-rows:     auto;
  grid-gap:               25px 0;
  grid-template-areas:    ". ireru  ."
  ". isbn   ."
  ". jidai  ."
  ". sagasu .";

  margin-top:       50px;
}

#main > div {
  padding:          0;
}

#ireru,
#main > div > * {
  border:         1px solid var(--bc, rgba(0,0,0,0.5));
  border-width:   1px 1px 0 1px;
}

#ireru,
#main > div > *:first-of-type {
  border-top-left-radius:   5px;
  border-top-right-radius:  5px;
}

#ireru,
#main > div > *:last-of-type {
  border-bottom-left-radius:  5px;
  border-bottom-right-radius: 5px;
  border-bottom-width:  1px;
}

#ireru {
  grid-area:        ireru;
  background:       rgba(255,255,255,0.9);
  text-align:       center;
}

#isbn {
  grid-area:        isbn;
  text-align:       center;
}

#jidai {
  grid-area:        jidai;
}

#isbn > a,
#jidai > * {
  background:       rgba(255,255,255,0.5);
}

#isbn > a:hover,
#jidai > *:hover {
  background:       rgba(255,255,255,0.9);
  cursor:           pointer;
}

#sagasu {
  grid-area:        sagasu;
}

#sagasu > a {
  background:       rgba(255,255,255,0.25);
  --bc:             rgba(0,0,0,0.25)
}

#sagasu > a:hover {
  background:       rgba(255,255,255,0.5);
}

#yori {
  position:         absolute;
  bottom:           0;
  left:             0;
  right:            0;

  border-top:       1px solid rgba(0,0,0,0.25);

  background:       rgba(255,255,255,0.25);
  color:            rgba(0,0,0,0.25);

  font:             15px 'Noto Sans CJK JP';
  text-align:       center;
}

#yori:after {
  content:          'カザツ';
  line-height:      35px;
}

#yori:hover {
  color:            black;
}
